<h2>Hello. I'm Jui</h2>
<p><img src="http://www.gravatar.com/avatar/ca1556da271e3177836fdd55bc926ecd.png" alt="Jui Dai" title="Follow me on Twitter @juidai"  class="img-rounded floatLeft" />			
I am Jui. I forked this from Eric Jones.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=juidai&repo=juidai.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=juidai&repo=juidai.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/juidai" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @juidai</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/juidai" rel="me" class="social github" title="Go to github.com/juidai" target="_blank"></a></li>
	  <li><a href="www.linkedin.com/in/juidai/" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/juidai" rel="me" class="social twitter" title="Go to twitter.com/juidai" target="_blank"></a></li>
<!--
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner juidai rss feed" target="_blank"></a></li>
-->
	  <li><a href="https://plus.google.com/106894316391678613262/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/juidai/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Jui"  target="_blank"></a></li>				
	</ul>
</p>